body {
    margin: 0;
    /* background: url("kunal.webp"); */
    cursor: crosshair;
    z-index: -50;
  }
  img{
    width: 40%;
    padding-top: 5rem;
    left: 50%;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    padding-left: 40px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
  }